@page
@model Agenda_Online.Pages.Contacts.CreateModel

<h2>Agregar Contacto</h2>

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Contact.ContactName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Teléfono</label>
        <input asp-for="Contact.Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Contact.Mail" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
