@page
@model Agenda_Online.Pages.Contacts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.ContactId" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Contact.IdUser" class="control-label"></label>
                <select asp-for="Contact.IdUser" class="form-control" asp-items="ViewBag.IdUser"></select>
                <span asp-validation-for="Contact.IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Contact.ContactName" class="control-label"></label>
                <input asp-for="Contact.ContactName" class="form-control" />
                <span asp-validation-for="Contact.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Phone" class="control-label"></label>
                <input asp-for="Contact.Phone" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Mail" class="control-label"></label>
                <input asp-for="Contact.Mail" class="form-control" />
                <span asp-validation-for="Contact.Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label"></label>
                <input asp-for="Contact.Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Photo" class="control-label"></label>
                <input asp-for="Contact.Photo" class="form-control" />
                <span asp-validation-for="Contact.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.DateOfBirth" class="control-label"></label>
                <input asp-for="Contact.DateOfBirth" class="form-control" />
                <span asp-validation-for="Contact.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Notes" class="control-label"></label>
                <input asp-for="Contact.Notes" class="form-control" />
                <span asp-validation-for="Contact.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CreationDate" class="control-label"></label>
                <input asp-for="Contact.CreationDate" class="form-control" />
                <span asp-validation-for="Contact.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
