@page
@model Agenda_Online.Pages.Labels.CreateModel

<h2>Agregar Etiqueta</h2>

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Label.LabelName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
